/* adds dark theme */

html {
    background-color: black;
}

.grid-container {
    background-color: black;
}

p {
    color: white;
}

a {
    color: black;
}

body.scrolled .nav-container {
    background-color: rgba(255, 255, 255, 0.5);
}

.nav-container > .nav-button {
    color: black;
}

.nav-logo {
    filter: invert(1);
}